<?xml version="1.0"?>
<settings>
    <setting propertyKey="@Properties.FrontRings" title="@Strings.FrontRingsTitle">
        <settingConfig type="numeric" min="1" max="2"/>
    </setting>
    <setting propertyKey="@Properties.FrontTeeth" title="@Strings.FrontTeethTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
    <setting propertyKey="@Properties.RearTeeth" title="@Strings.RearTeethTitle">
        <settingConfig type="alphaNumeric"/>
    </setting>
</settings>
